/* Texto centrado en el elemento */
.center{
	text-align: center;
}

/* Page backgrounds */
.dark-blue-b{
	background-color: #00294C;
}

.light-blue-b{
	background: #2389EE;
}

.orange-b{
	background: #ED4B37;
}

.yellow-b{
	background: #FFBB08;
}

.white-b{
	background-color: white;
}

/* Page text Colors */

.dark-blue-t{
	color: #00294C;
}

.light-blue-t{
	color: #2389EE;
}

.orange-t{
	color: #ED4B37;
}

.yellow-t{
	color: #FFBB08;
}

.white-t{
	color: white;
}


.black-t{
	color: black;
}

/* Eliminar estilo a referencias y li */
.no-style:hover{
	text-decoration: none;
	color: #ED4B37;
}
.no-style{
	color: white;	
}

/* Efectos sobre los elementos */
.nav.navbar-nav > li > a:hover{
	background-color:#ED4B37 ;
}

/* Elementos */

/* Estilo del footer */
.footer{
	margin: 10px;
	padding: 10px;
}

.footer .UCR-text{
	padding: 10px;
}

/* Estilos del jumbotron */
.jumbotron{
 	background: #ED4B37 url("../Images/jumbotron.png") center no-repeat!important;
 	height: 200px; 
 	border-radius: 0px!important;
 	margin: 1px;
}


/* Estilo de la barra de navegacion */
.navbar{
	margin-bottom: -2px!important;
	border-radius: 0px!important;
}

/* Sombra sobre las secciones y el aside */
.border-shadaw{
	-webkit-box-shadow: 1px 1px 6px 3px #A8A8A8;
	box-shadow: 1px 1px 6px 3px #A8A8A8;
	/* Para que calce con el menu */
	padding: 20px;
 	margin: 5px; 
}

